@font-face {
  font-family: 'Comic Sans MS';
  src: url("../fonts/comic.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Comic Sans MS Bold';
  src: url("../fonts/comicbd.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

iframe {
  position: relative;
  z-index: 1;
}

.container {
  width: 1200px;
  margin: auto;
}

.forms-input {
  display: block;
  width: 334px;
  border: 0;
  border-bottom: 2px solid #32cfb6;
  padding: 8px 5px;
  outline: 0;
  margin-bottom: 31px;
  background: none;
}

.forms-input__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #1db8a4;
  margin-bottom: 11px;
}

.forms-button {
  margin: 19px 46px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  background-image: linear-gradient(49deg, #fb6a4e 0%, #ff606a 100%);
  width: 243px;
  height: 60px;
  outline: 0;
  border: 0;
}

.forms-button:hover:hover {
  background-image: linear-gradient(49deg, #fb6b4ece 0%, #ff606a9c 100%);
  cursor: pointer;
}

.to-top {
  color: #ffffff;
  z-index: 11;
  width: 40px;
  text-align: center;
  padding: 10px 10px 0 10px;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb6a4e), to(#ff606a));
  background-image: linear-gradient(#fb6a4e 0%, #ff606a 100%);
  border: none;
}

@media (max-width: 1200px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 765px) {
  .container {
    width: 320px;
  }
  .forms-input {
    width: 290px;
  }
  .forms-button {
    margin: 0 22px;
  }
  iframe {
    height: 500px;
  }
}

/* Import Navbar style */
.navbar {
  padding: 40px 0 0 0;
}

.navbar__list {
  position: relative;
  margin: 0;
  padding: 0 0 0 45%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
}

.navbar__item:hover {
  background: linear-gradient(49deg, #fb6a4e 0%, #ff606a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .navbar {
    top: 10px;
    right: 0;
    left: 0;
    text-align: right;
    width: 700px;
    margin: 0 auto;
    z-index: 1000;
    padding: 10px 0;
    background-image: linear-gradient(49deg, #fb6a4e 0%, #ff606a 100%);
    border-radius: 20px;
    position: fixed;
  }
  .navbar__list {
    padding: 0;
  }
  .navbar__item:hover {
    background: linear-gradient(49deg, #1db8a4 0%, #38f399 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 765px) {
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-menu-icon {
    position: relative;
    display: inline-block;
  }
}

/* Import Header style */
.header {
  margin-top: 137px;
  margin-bottom: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-image__top {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 1007px;
}

.header-image__bubbles {
  position: absolute;
  margin-top: 827px;
}

.header-forms {
  margin-left: 17px;
  margin-top: 130px;
  margin-bottom: 60px;
}

.header-forms__title {
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  color: #272f2f;
  margin-bottom: 74px;
  margin-left: 43px;
}

@media (max-width: 1200px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-image {
    width: 610px;
    height: 465px;
  }
  .header-forms {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 100px;
    padding: 50px;
  }
}

@media (max-width: 765px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-image {
    display: none;
  }
  .header-forms__title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 31px 0;
  }
}

/* Import Requirement style */
.requirement {
  padding-bottom: 30px;
}

.requirement-title {
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  font-size: 29px;
  text-transform: uppercase;
  color: #272f2f;
  text-align: center;
  margin-bottom: 95px;
  letter-spacing: 0;
}

.requirement-block {
  margin-bottom: 95px;
  margin-left: 15px;
  width: 280px;
  height: 286px;
  border-radius: 10px;
  -webkit-box-shadow: -4px 4px 24px 1px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.07);
          box-shadow: -4px 4px 24px 1px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.07);
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.requirement-block:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 10px rgba(204, 204, 223, 0.71);
          box-shadow: 0 0 10px 10px rgba(204, 204, 223, 0.71);
}

.requirement-block__description {
  max-width: 255px;
  min-height: 98px;
  margin: 0 auto;
  color: #272f2f;
  font-size: 14px;
  line-height: 22px;
}

.requirement-block__image {
  display: block;
  margin: auto;
}

.requirement-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

@media (max-width: 1200px) {
  .requirement-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .requirement {
    padding-top: 30px;
  }
}

@media (max-width: 765px) {
  .requirement {
    position: relative;
    z-index: 1;
  }
  .requirement-title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .requirement-block {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

/* Import Help style */
.help {
  position: relative;
  background-color: #1ea992;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.help-image {
  position: absolute;
  margin-top: -12px;
  width: 50%;
  height: 984px;
}

.help-title {
  padding-top: 27px;
  margin-left: 48.5%;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 83px;
}

.help-list {
  position: relative;
  margin-left: 48.5%;
  list-style: none;
  counter-reset: my-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help-list__item {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  max-width: 500px;
  counter-increment: my-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help-list__item:before {
  content: counter(my-counter) ". ";
  color: #ffffff;
  font-size: 60px;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  line-height: 26px;
  margin-right: 18px;
  margin-top: 15px;
}

.help-list__item:first-child {
  margin-bottom: 88px;
}

.help-list__item:nth-child(2) {
  margin-left: 100px;
  margin-bottom: 90px;
}

.help-list__item:nth-child(3) {
  margin-left: 5px;
  margin-bottom: 60px;
}

.help-list__item:last-child {
  margin-bottom: 54px;
  margin-left: 105px;
}

@media (max-width: 1024px) {
  .help {
    padding-top: 10px;
  }
  .help-image {
    display: none;
  }
  .help-title {
    margin-left: 0;
    text-align: center;
  }
  .help-list {
    margin-left: 0;
  }
  .help-list__item {
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 400;
  }
}

@media (max-width: 765px) {
  .help-list {
    padding-left: 10px;
  }
  .help-list__item:before {
    font-size: 30px;
  }
  .help-list__item:first-child, .help-list__item:nth-child(2), .help-list__item:nth-child(3), .help-list__item:last-child {
    margin-bottom: 50px;
    margin-left: 0;
  }
}

/* Import Offer style */
.offer {
  position: relative;
  padding-bottom: 35px;
}

.offer-image {
  position: absolute;
  top: 47px;
  right: 0;
}

.offer-title {
  margin-top: 84px;
  text-align: center;
  font-size: 30px;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.offer-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer-list__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 325px;
  margin-top: 100px;
}

.offer-list__image-growth {
  background: url("../img/offer/growth.png") no-repeat center;
  width: 205px;
  height: 205px;
}

.offer-list__image-growth:hover {
  background: url("../img/offer/growth_hover.png");
}

.offer-list__image-schedule {
  background: url("../img/offer/schedule.png") no-repeat center;
  width: 205px;
  height: 205px;
}

.offer-list__image-schedule:hover {
  background: url("../img/offer/schedule_hover.png");
}

.offer-list__image-comfortable {
  background: url("../img/offer/comfortable.png") no-repeat center;
  width: 205px;
  height: 205px;
}

.offer-list__image-comfortable:hover {
  background: url("../img/offer/comfortable_hover.png");
}

.offer-list__image-salary {
  background: url("../img/offer/salary.png") no-repeat center;
  width: 205px;
  height: 205px;
}

.offer-list__image-salary:hover {
  background: url("../img/offer/salary_hover.png");
}

.offer-list__image-leisure {
  background: url("../img/offer/leisure.png") no-repeat center;
  width: 205px;
  height: 205px;
}

.offer-list__image-leisure:hover {
  background: url("../img/offer/leisure_hover.png");
}

.offer-list__image-english {
  background: url("../img/offer/english.png") no-repeat center;
  width: 205px;
  height: 205px;
}

.offer-list__image-english:hover {
  background: url("../img/offer/english_hover.png");
}

.offer-list__description {
  text-align: center;
  color: #272f2f;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .offer {
    padding-top: 40px;
  }
}

@media (max-width: 765px) {
  .offer-title {
    margin: 35px 0 0 0;
  }
  .offer-list__item {
    margin-top: 50px;
  }
}

/* Import Footer style */
.footer {
  padding-bottom: 20px;
}

.footer-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1535px;
}

.footer-author {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  bottom: 0;
  margin-bottom: 0;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.contacts {
  padding-top: 175px;
  position: relative;
  z-index: 1;
}

.contacts-title {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.contacts-forms {
  margin-left: 90px;
}

.contacts-forms__input {
  color: #ffffff;
}

.contacts-forms__title {
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.contacts-block {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 120px;
}

.contacts-block__info {
  margin-right: 75px;
}

.contacts-block__info__title {
  font-size: 20px;
  font-family: 'Comic Sans MS Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.contacts-block__info__address {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  line-height: 38px;
  text-transform: uppercase;
}

.contacts-block__info__mobile {
  font-size: 16px;
  display: block;
  line-height: 38px;
  text-transform: uppercase;
}

.contacts-block__info__number {
  text-decoration: none;
  color: #ffffff;
}

.contacts-block__info__email {
  font-size: 16px;
  display: block;
  line-height: 38px;
  letter-spacing: 1.28px;
  margin-bottom: 82px;
}

.contacts-block__info__mailto {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1.28px;
}

.contacts-block__info__linkedin {
  display: inline-block;
  background: url("../img/footer/contacts/linkedin.png") no-repeat center;
  width: 32px;
  height: 32px;
  margin-right: 52px;
}

.contacts-block__info__linkedin:hover {
  background: url("../img/footer/contacts/linkedin_hover.png");
}

.contacts-block__info__twitter {
  display: inline-block;
  background: url("../img/footer/contacts/twitter.png") no-repeat center;
  width: 32px;
  height: 32px;
  margin-right: 52px;
}

.contacts-block__info__twitter:hover {
  background: url("../img/footer/contacts/twitter_hover.png");
}

.contacts-block__info__facebook {
  display: inline-block;
  background: url("../img/footer/contacts/facebook.png") no-repeat center;
  width: 32px;
  height: 32px;
}

.contacts-block__info__facebook:hover {
  background: url("../img/footer/contacts/facebook_hover.png");
}

@media (max-width: 1024px) {
  .contacts-forms {
    margin-left: 0;
  }
  .contacts-block__info {
    margin-right: 0;
  }
}

@media (max-width: 765px) {
  .contacts {
    padding-top: 100px;
  }
  .contacts-forms {
    margin-bottom: 60px;
  }
  .contacts-title {
    font-size: 25px;
  }
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
  }
  .contacts-block__info {
    margin-right: 0;
  }
  .contacts-block__info__title {
    text-align: center;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */