*
    box-sizing: border-box
body
    +reg
    padding: 0
    margin: 0
    width: 1911px
    position: relative
.container
    width: 1200px
    margin: auto
.forms
    &-input
        display: block
        width: 334px
        border: 0
        border-bottom: 2px solid #32cfb6
        padding: 8px 5px
        outline: 0
        margin-bottom: 31px
        background: none
        &__title
            font-size: 14px
            text-transform: uppercase
            color: #1db8a4
            margin-bottom: 11px
    &-button
        margin: 19px 46px
        border-radius: 5px
        text-transform: uppercase
        color: #ffffff
        font-size: 18px
        +bold
        background-image: linear-gradient(49deg, #fb6a4e 0%, #ff606a 100%)
        width: 243px
        height: 60px
        outline: 0
        border: 0


