.header
    margin-top: 137px
    margin-bottom: 277px
    display: flex
    justify-content: space-between
    position: relative
    &-image
        &__top
            position: absolute
            margin-left: 570px
        &__bubbles
            position: absolute
            margin-top: 827px
