.header
    margin-top: 137px
    margin-bottom: 277px
    display: flex
    justify-content: space-between
    position: relative
    &-image
        &__top
            position: absolute
            top: 0
            right: 0
            width: 70%
            height: 1007px
        &__bubbles
            position: absolute
            margin-top: 827px
    &-forms
        margin-left: 17px
        margin-top: 130px
        margin-bottom: 60px
        &__title
            +bold
            text-transform: uppercase
            font-size: 30px
            color: #272f2f
            margin-bottom: 74px
            margin-left: 43px
@media (max-width: 1200px)
    .header
        align-items: center
        &-image
            width: 610px
            height: 465px
        &-forms
            margin: 0
@media (max-width: 1024px)
    .header
        flex-direction: column-reverse
        margin-top: 0
        margin-bottom: 100px
        padding: 50px
@media (max-width: 765px)
    .header
        justify-content: center
        &-image
            display: none
        &-forms__title
            font-size: 20px
            text-align: center
            margin: 0 0 31px 0
