.help
    position: relative
    background-color: #1ea992
    +bold
    color: #ffffff
    &-image
        position: absolute
        margin-top: -12px
        width: 50%
        height: 984px
    &-title
        padding-top: 27px
        margin-left: 48.5%
        text-transform: uppercase
        font-size: 30px
        margin-bottom: 83px
    &-list
        position: relative
        margin-left: 48.5%
        list-style: none
        counter-reset: my-counter
        display: flex
        flex-direction: column
        flex-wrap: wrap
        &__item
            font-size: 16px
            line-height: 26px
            text-transform: uppercase
            max-width: 500px
            counter-increment: my-counter
            display: flex
            &:before
                content: counter(my-counter)'. '
                color: #ffffff
                font-size: 60px
                +bold
                line-height: 26px
                margin-right: 18px
                margin-top: 15px
            &:first-child
                margin-bottom: 88px
            &:nth-child(2)
                margin-left: 100px
                margin-bottom: 90px
            &:nth-child(3)
                margin-left: 5px
                margin-bottom: 60px
            &:last-child
                margin-bottom: 54px
                margin-left: 105px
@media (max-width: 1024px)
    .help
        padding-top: 10px
        &-image
            display: none
        &-title
            margin-left: 0
            text-align: center
        &-list
            margin-left: 0
            &__item
                +reg
@media (max-width: 765px)
    .help
        padding-top: 20px
        &-list
            padding-left: 10px
            &__item
                &:before
                    font-size: 30px
                &:first-child, &:nth-child(2), &:nth-child(3),&:last-child
                    margin-bottom: 50px
                    margin-left: 0

