.navbar
    padding: 40px 0 0 0
    &__list
        position: relative
        margin: 0
        padding: 0 0 0 45%
        list-style: none
        display: flex
        justify-content: space-around
    &__item
        text-decoration: none
        text-transform: uppercase
        font-size: 18px
        color: #ffffff
        &:hover
            background: linear-gradient(49deg, #fb6a4e 0%, #ff606a 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
