.requirement
    padding-bottom: 30px
    &-title
        +bold
        font-size: 29px
        text-transform: uppercase
        color: $title-color
        text-align: center
        margin-bottom: 95px
        letter-spacing: 0
    &-block
        margin-bottom: 95px
        margin-left: 15px
        width: 280px
        height: 286px
        border-radius: 10px
        box-shadow: -4px 4px 24px 1px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.07)
        background-color: $block-background
        display: flex
        flex-direction: column
        &:hover
            cursor: pointer
            box-shadow: 0 0 10px 10px rgba(204, 204, 223, 0.71)
        &__description
            max-width: 255px
            min-height: 98px
            margin: 0 auto
            color: $title-color
            font-size: 14px
            line-height: 22px
        &__image
            display: block
            margin: auto
        &s
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            align-items: center
            align-content: stretch
@media (max-width: 1200px)
    .requirement
        position: relative
        z-index: 1
        &-blocks
            justify-content: center
@media (max-width: 1024px)
    .requirement
        padding-top: 30px
@media (max-width: 765px)
    .requirement
        padding-top: 50px
        &-title
            font-size: 20px
            margin-bottom: 30px
        &-block
            margin-bottom: 20px
            margin-left: 0
